@import url('https://fonts.googleapis.com/css?family=Oswald:400,500,600,700|Poppins:300,400,500,600,700');
 body {
	font-family: 'Poppins', sans-serif;
	font-weight: normal;
	font-style: normal;
	background-color: #fff;
	overflow-x: hidden;
}

ul {
	margin-top: 40px !important;
}

.img {
	max-width: 100%;
	transition: all 0.3s ease-out 0s;
}
.f-left {
	float: left
}
.f-right {
	float: right
}
.fix {
	overflow: hidden
}
a,
.button {
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-ms-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}
a:focus,
.button:focus {
	text-decoration: none;
	outline: none;
}
a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
	color: #2B96CC;
	text-decoration: none;
}
a,
button {
	color: #1696e7;
	outline: medium none;
}
.uppercase {
	text-transform: uppercase;
}
.capitalize {
	text-transform: capitalize;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Poppins', sans-serif;
	font-weight: normal;
	color: #313131;
	margin-top: 0px;
	font-style: normal;
	font-weight: 400;
	text-transform: normal;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: inherit;
}
h1 {
	font-size: 40px;
	font-weight: 500;
}
h2 {
	font-size: 35px;
}
h3 {
	font-size: 28px;
}
h4 {
	font-size: 22px;
}
h5 {
	font-size: 18px;
}
h6 {
	font-size: 16px;
}
ul {
	margin: 0px;
	padding: 0px;
}
li {
	list-style: none
}
p {
	font-size: 14px;
	font-weight: normal;
	line-height: 24px;
	color: #7e7e7e;
	margin-bottom: 15px;
}
hr {
	border-bottom: 1px solid #eceff8;
	border-top: 0 none;
	margin: 30px 0;
	padding: 0;
}
label {
	color: #7e7e7e;
	cursor: pointer;
	font-size: 14px;
	font-weight: 400;
}
*::-moz-selection {
	background: #d6b161;
	color: #fff;
	text-shadow: none;
}
::-moz-selection {
	background: #444;
	color: #fff;
	text-shadow: none;
}
::selection {
	background: #444;
	color: #fff;
	text-shadow: none;
}
*::-moz-placeholder {
	color: #555555;
	font-size: 14px;
	opacity: 1;
}
*::placeholder {
	color: #555555;
	font-size: 14px;
	opacity: 1;
}
.separator {
	border-top: 1px solid #f2f2f2
}

/* header */
.header-area {
  	min-height: 170px;
}

.main-menu ul{
	z-index: 2;
}

.main-menu ul li {
  display: inline-block;
  margin-right: 45px;
  position: relative;
}
.main-menu ul li a {
  color: #222222;
  display: block;
  font-size: 14px;
  padding: 25px 0;
  text-transform: uppercase;
}
.main-menu ul li:hover > a{color:#888}
/* submenu */
.main-menu ul li ul.submenu {
  background: #222 none repeat scroll 0 0;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 110%;
  transition: all 0.3s ease 0s;
  visibility: hidden;
  width: 220px;
}
.main-menu ul li:hover > ul.submenu{
	opacity:1;
	visibility:visible;
	top:100%;
}
.main-menu ul li ul.submenu li {
  border-bottom: 1px solid #999;
  display: block;
  margin: 0;
}
.main-menu ul li ul.submenu li a {
  color: #fff;
  padding: 15px 20px;
}
.main-menu ul li ul.submenu li:hover > a{color:#888} 
.main-menu ul li ul.submenu li ul.submenu {
  left: 100%;
  top: 0;
}
/* mega menu */
.main-menu ul li .mega-menu {
  background: #222 none repeat scroll 0 0;
  left: 0;
  opacity: 0;
  padding: 24px;
  position: absolute;
  top: 110%;
  transition: all 0.3s ease 0s;
  visibility: hidden;
  width: 700px;
  z-index: 2;
}
.main-menu ul li:hover .mega-menu{opacity:1;visibility:visible;top:100%}
.main-menu ul li .mega-menu ul {
  float: left;
  padding-right: 30px;
  width: 33.33%;
}
.main-menu ul li .mega-menu ul:last-child{padding-right:0}
.main-menu ul li .mega-menu ul li {
  display: block;
  margin: 0;
}
.main-menu ul li .mega-menu ul li a {
  color: #fff;
  padding: 10px 15px 10px 0;
  text-transform: capitalize;
}
.main-menu ul li .mega-menu ul li.mega-title a{border-bottom:1px solid #fff} 
.main-menu ul li.static{position:static;}
.static{position:static;}
.pos{position:relative;}

.main-menu ul li .mega-menu.mega-full{width:100%}
.main-menu ul li .mega-menu.mega-full ul{width:25%}

.header-right{
	z-index: 3;
}

.header-right ul {
	margin-right: 65px;
	margin-bottom: 35px;
}

.header-right ul li {
	display: inline-block;
	margin-left: 35px;
	padding: 35px 0;
}

.header-right ul li a {
	color: #222;
	font-size: 14px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.header-right ul .minicart {
	background: #222 none repeat scroll 0 0;
	left: 105px;
	position: absolute;
	top: 110%;
	width: 380px;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease 0s;
}

.header-right li:hover ul.minicart {
	opacity: 1;
	visibility: visible;
	top: 70%;
}

.header-right ul li .minicart .cart-img {
	margin-left: 30px;
	margin-top: 30px;
	margin-bottom: 20px;
	float: left;
}

.header-right ul li .minicart .cart-content {
	float: left;
	padding-left: 15px;
	text-align: left;
	margin-top: 30px;
	margin-bottom: 55px;
}

.cart-content h3 {
	letter-spacing: .1rem;
	color: #ddd;
}

ul .minicart .cart-content a {
	color: #fff;
}

.cart-price span {
	color: #ddd;
	font-size: 14px;
	font-family: 'Oswald', sans-serif;
}

.cart-price .new {
	font-size: 18px;
}

.header-right ul li .minicart > li {
	display: block;
	margin-left: 0;
	overflow: hidden;
	padding: 0;
}

.header-right ul li .minicart > li:last-child{
	margin-bottom: 0;
}

.header-right ul li .minicart .del-icon > a {
	color: #fff;
}

.header-right ul li .minicart .del-icon {
	float: right;
	margin-top: 34px;
	margin-right: 30px;
}

.total-price span {
	color: #fff;
}

.total-price {
	border-top: 1px solid #ddd;
	overflow: hidden;
	margin-right: 40px;
	margin-left: 40px;
	padding-bottom: 30px;
	padding-top: 30px;
}

.header-right ul li .minicart .checkout-link a {
	background: #111 none repeat scroll 0 0;
	color: #fff;
	display: block;
	font-weight: 600;
	padding: 25px 0;
	text-align: center;
	letter-spacing: .1rem;
	font-size: 15px;
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 50px;
}

.header-right ul li .search-form {
	background: #222 none repeat scroll 0 0;
	height: 50px;
	position: absolute;
	right: 0;
	top: 100%;
	transition: all 0.3s ease 0;
	width: 430px;
	margin-right: 70px;
	opacity: 0;
	visibility: hidden;
}

.header-right ul li:hover .search-form {
	opacity: 1;
	visibility: visible;
}

.header-right ul li .search-form input {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: 0 none;
	color: #fff;
	height: 100%;
	padding: 10px 15px;
	width: 400px;
}

.header-right ul li .search-form button {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: medium none;
	color: #fff;
	height: 50px;
	position: absolute;
	right: 0;
	width: 50px;
}

.header-right ul li .search-form form {
	height: 100%;
	position: relative;
}

::-webkit-input-placeholder {
	color: #fff;
}

:-ms-placeholder {
	color: #fff;
}

:-moz-placeholder {
	color: #fff;
}

::-moz-placeholder {
	color: #fff;
}

/* Slider */
.slider-text {
	padding-left: 115px;
}

.single-slider {
	align-items: center;
	background-position: center center;
	background-size: cover;
	display: flex;
	height: 630px;
}

.slider-text h2 {
	font-size: 36px;
	font-weight: 300;
	text-transform: uppercase;
}

.slider-text h2 span{
	font-weight: 600;
}

.slider-text p {
	font-size: 13px;
	margin-bottom: 60px;
}

.slider-text > a {
	border-bottom: 1px solid #222;
	color: #222;
	text-transform: uppercase;
}

.slider-active div.owl-nav {
	bottom: 50px;
	font-size: 17px;
	position: absolute;
	right: 75px;
	z-index: 6;
}

.slider-active div.owl-nav button.owl-prev {
	width: 100px;
	right: 90px;
	text-transform: uppercase;
	z-index: 8;
}

.slider-active div.owl-nav button.owl-next {
	text-transform: uppercase;
}

div.owl-nav::before {
	background: #222 none repeat scroll 0 0;
	bottom: 5px;
	content: "";
	height: 16px;
	position: absolute;
	right: 55px;
	width: 2px;
}

/*product section*/
.product-img {
	position: relative;
}

.product-img img {
	width: 100%;
}

.seconday-img img {
	width: 100%;
}

.secondary-img {
	opacity: 0;
	position: absolute;
	top: 5%;
	transition: all 0.3s ease 0s;
}

.product-wrapper:hover .secondary-img{
	opacity: 1;
	top: 0;
	width: 100%;
}

.product-action {
	background: #fff none repeat scroll 0 0;
	left: 0;
	margin: auto;
	opacity: 0;
	padding: 13px 0;
	position: absolute;
	right: 0;
	top: 50%;
	width: 60px;
	visibility: hidden;
	transition: 0.3s;
}

.product-wrapper:hover .product-action{
	opacity: 1;
	visibility: visible;
	transform: translateY(-50%);
}

.product-action > a {
	display: block;
	padding: 13px 0;
	text-align: center;
	color: #111;
}

.product-img > span {
	padding: 10px 25px;
	position: absolute;
	right: 0;
	text-transform: uppercase;
	top: 0;
}

.product-content > h3 {
	color: #222;
	font-size: 14px;
	letter-spacing: 2px;
	margin-bottom: 10px;
	text-transform: uppercase;
}

.rating i {
	font-size: 12px;
}

.rating {
	margin-bottom: 10px;
}

.price > span {
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
	font-weight: 500;
}

.price > span del {
	font-family: inherit;
	font-size: 14px;
	color: #888;
}

.product-content {
	padding-top: 20px;
}

.cart-btn {
	opacity: 0;
	visibility: hidden;
	transition: 0.3s;
}

.cart-btn > a {
	color: #222;
	display: inline-block;
	font-family: 'Oswald', sans-serif;
	font-weight: 600;
	padding-bottom: 4px;
	text-transform: uppercase;
	position: relative;
}

.cart-btn > a:before{
	background: #111 none repeat scroll 0 0;
	bottom: 0;
	content: "";
	height: 1px;
	position: absolute;
	width: 100%;
}

.product-wrapper:hover .cart-btn {
	background: #fff none repeat scroll 0 0;
	transform: translateY(-96%);
	opacity: 1;
	visibility: visible;
}

.product-tab {

}

.product-tab ul {

}

.product-tab ul li {
	margin-right: 60px;
}

.product-tab ul li a {
	color: #222;
	font-size: 16px;
	font-weight: 600;
	padding: 0;
	text-transform: uppercase;
	margin-bottom: 35px;
	position: relative;
}

.product-tab ul li a.active::before {
	background: #222 none repeat scroll 0 0;
	bottom: 0;
	content: "";
	height: 1px;
	position: absolute;
	width: 100%;
}

.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
    display: block;
}

.nav-style div.owl-nav {
	bottom: 30px;
	font-size: 15px;
	position: absolute;
	right: 30px;
	text-transform: uppercase;
	top: -108px;
	height: 25px;
}

.nav-style button.owl-prev {
	margin-right: 45px;
	border-collapse: collapse;
	right: 80px;
	top: -48px;
}

.owl-nav.disabled {
	border-collapse: collapse;
}

/* banner image */
.banner-img {
    align-items: center;
    display: flex;
    height: 420px;
    opacity: 0.8;
}

/* banner section */
div.banner-img {
	color:#191514; 
	letter-spacing: .1rem; 
}

h2.banner-heading {
	margin: 0 auto;
	margin-bottom: 12px !important;
}

h4.banner-para {
	margin: 0 auto;
}

/*subscription section*/
.subscribe-wrapper > h2 {
	color: #222;
	font-family: "Oswald", sans-serif;
	font-size: 30px;
	margin-bottom: 20px;
}

.subscribe-wrapper > p {
	color: #888;
	font-style: italic;
	margin-bottom: 50px;
}

.subscribe-wrapper.text-center input {
	border: 1px solid #ddd;
	float: left;
	height: 45px;
	width: 75%;
	padding: 0 15px;
}

.subscribe-wrapper button{
	background: #222 none repeat scroll 0 0;
	border: 0 none;
	color: #fff;
	padding: 10px 25px;
	text-transform: uppercase;
}

/* branding section */
.brand-active .owl-carousel .owl-item img {
	display: block;
}

.brand-area .owl-carousel .owl-dots.disabled, .brand-area .owl-carousel .owl-nav.disabled {
    display: none;
}

img.brand-img {
	height: 140px;
	width: 150px !important;
}

.single-brand > a {
	display: inline-block;
}

.single-brand {
	text-align: center;
}

.brand-active {
	border-bottom: 1px solid #ddd;
	padding-bottom: 60px;
}

/* footer section */
.footer-area {
	margin: 0 50px 0 50px;
}

.footer1-link a {
	color: #888;
	font-size: 14px;
	font-weight: 300;
	line-height: 35px;
}

.footer-widget > h3 {
	color: #222;
	font-size: 16px;
	margin-bottom: 40px;
	text-transform: uppercase;
}

.footer-menu li {
	display: inline-block;
	margin-right: 35px;
}

.footer-menu li a {
	color: #888;
	font-size: 12px;
	text-transform: uppercase;
}

.footer-border {
	border-top: 1px solid #ddd;
	padding: 50px 0;
}

.footer-icon > span {
	color: #222;
	font-size: 13px;
	text-transform: uppercase;
}

.footer-icon.text-md-center > a {
	color: #aaa;
	font-size: 16px;
	margin-left:12px;
}

.footer-icon {
	margin: 40px 50px 0 0;
}

/*mobile menu */
div.mobile-menu{
	display: none;
}

nav#mobile-menu{
	display: none;
}

a.meanmenu-reveal {
	display: none;
}

.mean-container .mean-bar {
	float: left;
	width: 100%;
	position: relative;
	background: #0c1923;
	padding: 4px 0;
	min-height: 50px;
	z-index: 999999;
}

.mean-container a.meanmenu-reveal {
	width: 22px;
	height: 22px;
	padding: 13px 13px 11px 13px;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	line-height: 22px;
	font-size: 1px;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 700;
}

.mean-container a.meanmenu-reveal span {
	background: #fff none repeat scroll 0 0;
	display: block;
	height: 3px;
	margin-top: 3px;
}

.mean-container .mean-nav {
	float: left;
	width: 100%;
	background: #0c1923;

}

.mean-container .mean-nav ul {
	padding: 0;
	margin: 0;
	width: 100%;
	list-style-type: none;
}

ul.submenu {
	padding-top: 20px;
}

